<form class="ui stacked segment form" action="/dashboard/addmovie" method="POST">
  <div class="four fields">
  <div class = "field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" required required oninvalid="this.setCustomValidity('Please enter the Movie Title')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Link to IMDb</label>
    <input placeholder="IMDb" type="text" name="imdb">
  </div>
  <div class="field">
    <label>Year</label>
    <input placeholder="Year of Release" type="text" name="year" required oninvalid="this.setCustomValidity('Please enter the Year of Release')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Director(s)</label>
    <input placeholder="Director" type="text" name="director" required oninvalid="this.setCustomValidity('Please enter Director(s)')" oninput="this.setCustomValidity('')">
  </div>
    <div class="field">
      <label>Choose an image:</label>
    <input type="radio" name="image" id="mickey">
    <img src="https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fclipart-mouse-silhouette-18.png?v=1616263011174" alt="Mickey Mouse" class = "ui tiny image">
  <input type="radio" name="image" id="animals">
    <img src="https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2F7bd652220d1b17df2be9e6fea200c292.jpg?v=1616263751463" alt="Animals" class = "ui tiny image">
      <input type="radio" name="image" id="princesses">
    <img src="https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fifxfw2x2-720.jpg?v=1616263759177" alt="Animals" class = "ui tiny image">
  </div>
  </div>
  <button class="ui blue submit button">Add Movie</button>
</form>