<div class = "form div">
<form class="ui stacked segment form" action="/dashboard/addmovie" method="POST" style="background-color: #000066; color: white; padding: 2em;" enctype="multipart/form-data">
  <h3>
    Add Movie
  </h3>
  <div class="four fields">
  <div class = "field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" required oninvalid="this.setCustomValidity('Please enter the Movie Title')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Link to IMDb</label>
    <input placeholder="IMDb" type="url" name="imdb" required oninvalid="this.setCustomValidity('Please link the movie's IMDb')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Year</label>
    <input placeholder="Year of Release" type="text" name="year" pattern="[0-9]{4,}" required oninvalid="this.setCustomValidity('Please enter a valid Year of Release')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Director(s)</label>
    <input placeholder="Director" type="text" name="director" required oninvalid="this.setCustomValidity('Please enter Director(s)')" oninput="this.setCustomValidity('')">
  </div>
    <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>
  </div>
  <div class = "btn div">
  <button class="ui inverted violet submit button">Add Movie</button>
  </div>
</form>
</div>