<form class="ui stacked segment form" action="/dashboard/addmovie" method="POST">
  <div class="five fields">
  <div class = "field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" required required oninvalid="this.setCustomValidity('Please enter the Movie Title')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Link to IMDb</label>
    <input placeholder="IMDb" type="text" name="imdb">
  </div>
  <div class="field">
    <label>Year</label>
    <input placeholder="Year of Release" type="text" name="year" required oninvalid="this.setCustomValidity('Please enter the Year of Release')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label>Director(s)</label>
    <input placeholder="Director" type="text" name="director" required oninvalid="this.setCustomValidity('Please enter Director(s)')" oninput="this.setCustomValidity('')">
  </div>
  <div class="field">
    <label for="audio">(Optional) Image:</label>
        <input type="file" id="image" name="image" accept="image/*">
  </div>
  </div>
  <button class="ui blue submit button">Add Movie</button>
</form>