<div class = "form div">
<form class="ui stacked segment form" action="/movie/{{movie.id}}/addtrack" method="POST" style="background-color: #000066; color: white; padding: 2em;">
  <h3>
    Add Track
  </h3>
  <div class="four fields">
    <div class="field">
      <label for="title">Song Title</label>
      <input type="text" name="title" required title = "Please include a valid Title"
      placeholder="Title">
    </div>
    <div class="field">
      <label for="singer">Singer(s)</label>
      <input type="text" name="singer" required title = "Please include a valid Singer or 'Misc'."
      placeholder="Singer"  >
    </div>
    <div class="field">
      <label for="genre">Genre</label>
      <select id="genre" name="genre">
        <option value="Misc" selected>Misc</option>
        <option value="Show Tune">Show Tune</option>
        <option value="Pop">Pop</option>
      </select>
    </div>
    <div class ="field">
      <label for="audio">(Optional) Audio File:</label>
        <input type="file" id="audio" name="audio" accept="audio/*">
        <input type="submit">
    </div>
  </div>
  <button class="ui blue submit button">Add Track</button>
</form>
</div>