<div class = "form div">
<form class="ui stacked segment form" action="/movie/{{movie.id}}/addtrack" method="POST" style="background-color: #000066; color: white; padding: 2em;">
  <h3>
    Add Track
  </h3>
  <div class="four fields">
    <div class="field">
      <label for="title">Song Title</label>
      <input type="text" name="title" required oninvalid="this.setCustomValidity('Please enter the Song Title')" oninput="this.setCustomValidity('')"
      placeholder="Title">
    </div>
    <div class="field">
      <label for="singer">Singer(s)</label>
      <input type="text" name="singer" required oninvalid="this.setCustomValidity('Please include the Singer or 'Misc' for a large group of singers)" oninput="this.setCustomValidity('')"
      placeholder="Singer"  >
    </div>
    <div class="field">
      <label for="genre">Genre</label>
      <select id="genre" name="genre">
        <option value="Misc" selected>Misc</option>
        <option value="Show Tune">Show Tune</option>
        <option value="Pop">Pop</option>
        <option value="Rock and Roll">Pop</option>
        <option value="Jazz">Pop</option>
        <option value="Classical">Pop</option>
        <option value="Folk">Pop</option>
      </select>
    </div>
    <div class ="field">
      <label for="link">Link to this song (Try YouTube!)</label>
        <input type="url" id="youtube" name="youtube" required oninvalid="this.setCustomValidity('Please link to this song'')" oninput="this.setCustomValidity('')">
    </div>
  </div>
  <button class="ui blue submit button">Add Track</button>
</form>
</div>