<nav class="ui menu">
  <header class="ui header item"> <a href="/start"> Disney Soundtracks App</a></header>
  <div class="right menu">
    <a id="name" class="item" href="/start">{{fullname}} <span class="profilepic">  <img src="{{picture}}" class="ui avatar image"> </span></a>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About this App</a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>