<nav class="ui menu">
  <header class="ui header item"> <a href="/start"> Disney Soundtracks App</a></header>
  <div class="menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About </a>
    <span class="name" style="float:right;">{{fullname}}</span> 
    <span class="profilepic" style="float:right;"> <img src="{{picture}}" class="ui avatar image"> </span>
    <a id="logout" class="item" href="/logout" style="text-align:right;"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>