{{> menu id="about"}}

<section class = "ui grid" id ="aboutPage">
  <div class = "ui sixteen wide stackable column">
  <h1>
    About / Contact Us
  </h1>
  
    <h2>
      About the author
    </h2>
  </div>
    <div class = "ui twelve wide stackable column">
  <p class = "about">
    This app was created by Second Year college student Rebecca Troy.
  </p>
    </div>
    
  <div class="ui four wide stackable column">
    <div class = "ui cards">
      {{#each developers}}
      {{> card}}
      {{/each}}
    </div>

  </div>
  
  <!-- Google Maps code found here: https://google-map-generator.com/  -->
  <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=waterford%20institute%20of%20technology&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">how to insert google map into website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>

</section>