{{> menu id="dashboard"}}

<section class="ui grid" id = "movies">
  <div class = "ui sixteen wide stackable column">
  <h1>Disney Movies</h1>
  </div>
  {{> listmovies}}
  {{> addmovie}}
  </div>
</section>