{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>
    {{movie.title}}
  </h2>
  {{> listtracks}}
  
  <span class = "rate">Rate this soundtrack:</span><div class="ui huge star rating"></div>
  
  {{> addtrack}}
</section>