{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>
    {{movie.title}}
  </h2>
  {{> listtracks}}
  
  <button class = "ui blue button" id ="rate">Rate this soundtrack:</button> <div class="ui huge star rating" onclick ="ratingFeedback"></div>
  
  {{> addtrack}}
</section>