{{> menu}}

<section class="ui grid">
        
        <div class = "ui one wide stackable column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2FHarry-Styles.jpg?v=1611843107095">
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2Fb1af208c-10f8-49ce-b56c-8795ec152194-JonasBrothers.jpg?v=1611843102680">
          </div>
        </div>
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2F89c142ec48b651884971c1868da84f49.jpg?v=1611843075168">
          </div>
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2Fbillieeilish_whenweallfallasleepw_bs3v.jpg?v=1611843105856">
          </div>
        </div>

      <div class="ui ten wide column">
        <h1>Disney Movie Soundtracks 101</h1>
          <p>
            This app is a fanmade collection of Disney soundtracks, sorted by film. From all the old classics to the latest hits, all of your favourites are here on this site! And the best part? Anyone can add or edit this collection.
          </p>
        
      <div class="buttons">
        <button class="ui blue button" onclick="showHide()">
          Read more <i class="arrow circle down icon" id ="arrowicon"></i>
        </button>
        
        <button class="ui green button" onclick="likeIt()">
        Like it? <i class="thumbs up icon"></i>
        </button>
        
        <button class="ui red button" onclick="welcomeUser()">
          Who are you? <i class="user icon"></i>
        </button>
      </div>
        
      <div id="readmore" class="ui message">
          <p>
            Hit the 'Dashboard' option above to get stuck into the collection!
          </p>  
      </div>
        
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
        
      </div>

        <div class = "ui one wide stackable column">
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2FHarry-Styles.jpg?v=1611843107095">
          </div>
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2Fb1af208c-10f8-49ce-b56c-8795ec152194-JonasBrothers.jpg?v=1611843102680">
          </div>
        </div>
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2F89c142ec48b651884971c1868da84f49.jpg?v=1611843075168">
          </div>
          <div class = "column">
            <img class = "ui circular image" src = "https://cdn.glitch.com/8163497f-8327-4877-ab44-3e86ff3c7adf%2Fbillieeilish_whenweallfallasleepw_bs3v.jpg?v=1611843105856">
          </div>
        </div>

      </div>


    </section>