{{> menu}}

<section class="ui grid">
        
        <div class = "ui two wide stackable column">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2F00-story-little-mermaid.jpg?v=1615742267632" id = "Left1">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Faladdin-2000.jpg?v=1615742280013" id = "Left2">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fdisney-e2-80-a2pixar-s-coco-celebrates-a-host-of-brands-in-far-reaching-promotional-campaign.jpg?v=1615742298001" id = "Left3">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2FProfile_-_Lady.jpg?v=1615742601356" id = "Left4">
        </div>

      <div class="ui twelve wide column">
        <h1>Disney Movie Soundtracks 101</h1>
        <h1 class="ui header">
          Hello, {{fullname}}!
        </h1>
          <p>
            This app is a fanmade collection of Disney soundtracks, sorted by film. From all the old classics to the latest hits, all of your favourites are here on this site! And the best part? You can add to or edit this collection of soundtracks yourself!
            <br><br>
            <i>This application is made for the purpose of a college assignment in a module in Web App Development. I do not own any songs, images, films, or names mentioned on this app. </i>
          </p>
        <div class = "stats">The <span id = "title">Disney Soundtracks 101</span> App now has: 
        <div class="ui big statistic">
        <div class="value">
            {{totalMovies}}
        </div>
        <div class="label">
            Movies
        </div>
    </div>
    <div class="ui big statistic">
        <div class="value">
            {{totalTracks}}
        </div>
        <div class="label">
            Tracks
        </div>
    </div></div>
        <br>
        
      <div class="buttons">
        <button class="ui blue button" onclick="showHide()">
          Get Started <i class="arrow circle down icon" id ="arrowicon"></i>
        </button>
        
        <button class="ui pink button" onclick="feedback()">
        Send us your Feedback! <i class="comment icon"></i>
        </button>
      </div>
        
      <br>
        
      <p id="readmore">
            Hit the 'Dashboard' option above to view and edit our collection of soundtracks!
      </p>  
        
      <!-- UI tooltip code found here: https://community.canvaslms.com/t5/Question-Forum/How-do-I-add-a-quot-hover-over-for-definition-quot/m-p/90657#M22876  -->
        
      <a class="ui-tooltip" title="Click to hide"> 
      <p id = "feedback" onclick="hideFeedback()">
        Click to hide.
      </p>
      </a>
      
        
      </div>

        <div class = "ui two wide stackable column">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2F239649989.jpg.gallery.jpg?v=1615674618968" id = "Right1">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fmerlin_171654186_e39b9606-bba7-4b82-8706-0d124ed252b7-superJumbo.jpg?v=1615674657499" id = "Right2">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fb7902dabddffa9551cf191d151869dd899-14-beauty-and-the-beast.rsquare.w700.jpg?v=1615742288125" id = "Right3">
            <img class = "ui square image" src = "https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2FMulan.jpg?v=1615742312036" id = "Right4">
        </div>

    </section>