/* Adding style to the app */

/*Importing a custom font I downloaded from the following site: https://www.1001fonts.com/walt-disney-fonts.html*/
/*I learned about the @font-face rule here: https://support.glitch.com/t/using-fonts-types-on-glitch/13936/2*/
@font-face {
  font-family: 'DisneyFont';
  src: url('https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fwaltograph42.ttf?v=1615659886609');
       url('https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2Fwaltograph42.ttf?v=1615659886609') format('ttf');
}

/*Importing a custom font I downloaded from the following site: https://www.fontspace.com/beautyofthebeast-font-f30665*/
@font-face {
  font-family: 'FilmFont';
  src: url('https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2FBeautyofthebeast-1VpM.ttf?v=1616102834222');
       url('https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2FBeautyofthebeast-1VpM.ttf?v=1616102834222') format('ttf');
}

body {
  background-image: url("https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2FDisney-Wallpaper-Tumblr4.jpg?v=1615743623570");
  background-size: cover;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.ui.menu {
  padding:5px;
  background-color: #ccccff;
}

.ui.grid {
  border-radius:20px;
}

.ui.square.image {
  border: 8.5px solid #000066;
}

.ui.square.image:hover {
  cursor: url('https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2FMickey_Mouse_head_and_ears.png?v=161583512978706371'), auto;
}

h1 {
  font-family: "DisneyFont", sans-serif;
  font-size: 3.5em;
  text-align: center;
  padding: 0.25em;
  border: 5px solid #000066;
  background-color: #000066;
  border-radius: 10px;
  color: white;
}

p {
  font-size: 1.15em;
  text-align: justify;
  padding: 1.5em;
  background-color: #004d99;
  border: 5px solid #000066;
  border-radius: 10px;
  color: white;
}

.stats {
  font-size:1.25em;
  font-weight: bold;
  color: white;
  background-color: #ccccff;
  border: 5px solid #000066;
  border-radius: 10px;
  text-align: center;
  text-shadow: #000 0px 0px 1.5px;
}

.ui.big.statistic {
  padding-left:1.5em;
  text-shadow: none;
}

#title {
  font-family: "DisneyFont", sans-serif;
  font-size:1.5em;
}

.buttons {
  text-align: center;
}

#readmore {
  display: none;
  color: #ffd633;
}

#feedback {
  display: none;
  font-size: 0.85em;
  padding: 0em;
}

#quote {
  font-size: 0.825em;
}

#movies, #aboutPage {
  background: rgb(255, 255, 255, 0.5);
}

.ui.card {
  border-radius: 25px;
  padding: 2em;
  background-color: #e6ccff;
}

#movieBtns {
  text-align:left;
}

h2 {
  font-family: 'FilmFont', sans-serif;
  font-weight: bold;
  font-size: 2.25em;
}

.imdb {
  color: black;
  border: 2.5px solid #ffcc00;
  border-radius: 15%;
  background: #ffcc00;
  font-weight: bold;
}

.imdb:hover {
  color: #997a00;
}

h3 {
  font-size: 2.5em;
  text-decoration: underline;
  font-family: DisneyFont;
  text-align: left;
}

.div.form {
  background-color: white;
  border-radius:5px;
  width: 98%;
  padding: 1em;
  margin-left: 1%;
}

.btn.div {
  text-align: center;
}

.ui.inverted.violet.submit.button {
  padding: 1em 2em 1em 2em;
}

tr {
  background-color: #e6ccff;
}

.listen a:hover {
  color: #ffccff;
}

.listen a {
  color: white;
}

#rate {
  cursor: auto;
}

.aboutHeading {
  padding: 0.5em;
  background-color: #e6ccff;
  border: 2px solid #000066;
  border-radius: 5px;
}

.about {
  font-size: 1.15em;
  text-align: justify;
  padding: 1em;
  background-color: white;
  border: 2.5px solid #000066;
  border-radius: 10px;
  color: black;
  font-style: italic;
}

#aboutPage {
  padding: 0 2.5em 0 2.5em;
}

#headerName:hover {
  color: #cc99ff;
}

#card, #desc {
  display: none;
}

.aboutHeading {
  cursor: pointer;
}

#Contact td {
  border: 2px solid #e6ccff;
  background-color: white;
}

#Contact thead tr, #Contact thead td {
  background-color: #cccccc;
  text-align: center;
  font-weight: bold;
}

#Contact {
  font-family: "Helvetica", serif;
}

.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}

#logInError {
  background-color: #cccccc;
  display: none;
  padding: 0.5em;
  border: 2.5px solid #cccccc;
  border-radius: 5px;
  color: white;
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
}