/* Adding style to the app */

body {
  background-image: url("https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2F190-1905135_background-images-of-books.png?v=1615485837480");
  background-size: cover;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.ui.menu {
  padding:2em;
}

h1 {

}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}
