/* Adding style to the app */

background {
  background-image: url(https://cdn.glitch.com/d2abf87c-5b55-4b85-a313-c94daaba6a2c%2F66-669874_wallpaper-linear-gradient-blue-white-mint-cream-pale.jpg?v=1615484323008);
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

h1 {

}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}
